body {
    font-family: 'Roboto', sans-serif;
    background-color: #181a1b !important;
}

.content-header {
    border-radius: 1rem;
    border-color: #575757;
}

.img-thumbnail {
    width: 200px;
    height: 200px;
    background-color: #181a1b;
}